*{
    padding: 0;
    margin: 0;
}
.h-d {
    
}
.h-d-img {
    opacity: .6;
}
.h-d-d {
    margin-top: -270px;
    margin-bottom: 50px;
    text-align: center;
}
.h-d-d-h1 {
    font-size: 55px;
    margin: 10px;
    color: blueviolet;
}
.h-d-d-p {
    font-size: 26px;
    margin: 10px;
    color: #4126abe3;
}
.h-d-d-btn {
    font-size: 20px;
    color: #4126abe3;
}
.h-d-d-btn a {
    margin: 10px;
    text-decoration: none;
}
.h-d-d-btn a:hover {
    background: darkslategrey;
    color: firebrick;
}